.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.pageBody {
  padding: 10px;
}
input:invalid[required] {
  border-color: red;
}
textarea:invalid[required] {
  border-color: red;
}
select:invalid[required] {
  border-color: red;
}
.btn.defaultBtn {
  color: #ffffff !important;
  background: #5AB2FF;
  border: 0;
}
  .btn.defaultBtn:hover {
      color: #d3d1d1 !important;
      background: #5AB2FF;
      border: 0;
  }

  .btn.specialBtn {
    color: #ffffff !important;
    background: #26bb00;
    border: 0;
}
    .btn.specialBtn:hover {
        color: #d3d1d1 !important;
        background: #26bb00;
        border: 0;
    }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
