@media (max-width: 801px){
    .card-kanban-menu-right p{
        margin: 0;
    }

    .card-line-top-span {
        position: relative;
        bottom: 7px;
        font-size: 10px;
        font-weight: 800;
    }
}